body{
  margin: 0;
  padding: 0;
}

#container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(250, 235, 215);
  height: 100vh;
}

#appContainer{
  width: 60%;
  height: 80%;
  background-color: rgb(200, 235, 215);
}

.btnToggle{
  height: 150px;
}

.buttons{
  display: flex;
  justify-content: space-between;
}
